<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.squabbi.iitk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".IitkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.ui.portal.view.PortalViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ui.inventory.manage.ManageInventoryActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.portal.NewPortalActivity"
            android:label="@string/title_activity_new_portal"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.squabbi.iitk.activity.MainActivity" />
        </activity>

        <service android:name=".service.MyHoverMenuService" />

        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ui.inventory.view.InventoryViewActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCn8Y0c_5R7nkKIsJ7NLvDq--CGHFzNosA" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>